body {
    background-color: #778899;
    color: #000000;
}

main {
    background-color: #413f4e;
    margin: 55px auto;
    width: 300px;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 130px repeat(5, 1fr);
    row-gap: 15px;
    column-gap: 5px;
    padding: 0 15px 25px 15px;
    border-radius: 25px;
}

#display {
    font-family: 'Quantico', sans-serif;
    background-color: #ffffffd0;
    font-size: 31.5px;
    font-weight: 400;
    height: 70%;
    width: 92.5%;
    grid-column: 1/5;
    text-align: right;
    margin: 30px 7px 25px 7px;
    border-radius: 15px;
}

#display::placeholder {
    color: #000000;
    opacity: 1;
}

button {
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
    box-shadow: 5px 5px #000000;
    background-color: #2dd8ca;
}

button:hover {
    background-color: rgb(125, 250, 239);
}

button:focus {outline:0;}

@-moz-document url-prefix() {
    #erase {
        font-size: 30px;
        padding-bottom: 5px;
    }
}

button.operator {
    color: #000000;
    background-color: #f18118;
}

button.operator:hover {
    background-color: #ffac4e;
}

button#zero {
    grid-column: 1/3;
}

button#decimal:disabled {
    color: #000000;
}
